<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @task.filename %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user %>
</p>

<p>
  <strong>Group:</strong>
  <%= @task.group %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
